<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('/')">
            <ion-icon slot="icon-only" name="home-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('/search')">
            <ion-icon slot="icon-only" name="search-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('/new-post')">
            <ion-icon slot="icon-only" name="add-circle-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('/reels')">
            <ion-icon slot="icon-only" name="film-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('/profile')">
            <ion-icon slot="icon-only" name="person-circle-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
