.reels-container {
  --background: black;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-bottom: 60px; /* Espacio para el footer */
}

.reel-wrapper {
  height: 100vh;
  scroll-snap-align: start;
}

.reels-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
